.intro {
    font-family: 'Mulish', sans-serif;
    width: 30%;
}

.heroWrapper {
  background-color: #f9f9f9;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introImg {
  animation: morph 16s linear infinite;
  background-image: url('../../../public/profilepicnew.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 25rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 35rem;
  position: relative;
  margin-left: 30px;
}

@keyframes morph
{
    0%, 100% {
        border-radius: 26% 74% 49% 51% / 21% 51% 49% 79% ;
    }
    25% {
        border-radius: 74% 26% 50% 50% / 53% 29% 71% 47%;
    }
    50%
    {
        border-radius: 48% 52% 28% 72% / 45% 71% 29% 55%;
    }
    75% 
    {
        border-radius: 48% 52% 76% 24% / 70% 49% 51% 30%;
    }
}

h1 {
  font-size: 55px;
  margin-bottom: 15px;
}

.socialIntro {
  color: #2d2e32;
  height: 32px;
  width: 32px;
}
p {
  margin-bottom: 15px;
}

a
{
 margin-right: 20px;
}

@media only screen and (max-width: 600px)
{
  p{
    font-size: 17px;
  }
  .heroWrapper
  {
    padding:10px
  }
  h1{
    font-size: 35px;
  }
}