
#aboutWrapper {
    background-color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.aboutText{
    font-family: 'Mulish', sans-serif;
    width: 30%;
}  

.aboutImg
{
    background-image: url('../../../public/about-img.62b47e7f183d4b4e9feb.webp');
    height: 70%;
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;    
    border-radius: 28px;
    margin-right: 10%;
}

.imgTag
{
    background-color: white;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: -75%;
    right: -75%;
    border-radius: 50%;
}

.imageTag
{
    width: 150px;
    animation: rotate 9s linear infinite;
}

@keyframes rotate {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }

.circleTag{
    height: 75px;
    position: absolute;
    top: 25%;
    right: 25%;
    border-radius: 50%;
}

.aboutTextP{
    color: #767676;
    font-family: Mulish,sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
}

h4{
    color: #2d2e32;
    font-family: Poppins,sans-serif;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 2rem;
}

h3{
    color: #147efb;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px) {
    h4{
        font-size: 17px;
    }
    .aboutTextP{
        font-size: 12px;
    }
    .imgTag
    {
        display: none;
    }
    .aboutImg
    {
        width: 50%;
    }
}